{% extends 'base.html'%}{% block content %}
<div class="header">
    
    <h1 class="display-4 fw-bold titulo color7">bienvenido al selector de anteojos</h1>
</div>
<section id="hero">
    <div class="row">
        <div class="col-lg-6">
            <div class="content mx-auto">
                <h2 class="display-5 fw-bold">Instrucciones</h2>
                <p class="lead mb-4 justificar">Para poder tomar la foto adecuadamente es necesario tener una buena iluminación, además la foto debera ser tomada cuando observe la malla facial en su rostro, y la posición del rostro debe ser totalmente simétrica, cuando se ven bien las dos orejas.  </p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="content mx-auto">
                <div class="divimagen">
                    <img class="img-fluid camara" src="{{ url_for('video') }}">
                </div>
                <div class="centar">
                    <a class="btn btn-primary" href="{{url_for('probando')}}">Tomar Foto</a>
                </div>
            </div>
        </div>
    </div>
</section>



{% endblock %}